* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  height: 500px;
  width: 660px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  display: block;
  margin: 100px auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
}
