.btn-outline-secondary {
  padding: 3px 12px;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  height: 380px;
  width: 320px;
  margin-top: 22px;
  margin-bottom: 25px;
  background-image: url("https://www.kindpng.com/picc/m/776-7766727_nube-clouds-cloud-sky-overlay-icon-white-aesthetic.png");
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card-body,
.forecast-icon,
.maxmin {
  text-align: center;
}

.Temperature h2,
.Temperature h6,
.main-card,
.units,
.sunrise,
.sunset {
  color: rgb(104, 104, 104);
  font-weight: bolder;
}

.temperature {
  font-size: 30px;
}

.units {
  position: relative;
  top: -11px;
  text-decoration: none;
}

.main-card-text {
  font-size: 14px;
}

.main-card-text {
  margin-left: 30px;
}
